#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-Name {
  background: -webkit-linear-gradient(45deg, hsl(113, 96%, 81%) 0%, hsl(188, 90%, 51%) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.user-Post-1 {
  margin: 0;
  font-weight: 500;
}

.user-Name {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.user-Post-2 {
  margin: 0;
  font-weight: 400;
}

.user-slider{
  border: 1px solid white;
  width: 300px;
  border-radius: 10px;
  height: 400px;
  padding: 20px;
  position: relative;
}

.arrow-img {
  height: 40px;
  width: 100px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

.user-Email a {
  text-decoration: underline;
}


.swiper-slide {
  flex-shrink: 0;
  width: 500px !important;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
